@page "/"

<style>
    body {
        background: rgb(112,58,180);
        background: linear-gradient(90deg, rgba(112,58,180,1) 14%, rgba(29,141,253,1) 73%, rgba(69,99,252,1) 100%);
    }
</style>

<div class="mainContainer">
    <div class="navContainer">
        <div class="topnav" id="myTopnav">
            <a class="active">Projects</a>
            <a>MyFirstProject</a>
            <a>MyFirstProject</a>
            <a>MyFirstProject</a>
            <a>MyFirstProject</a>
            <a>MyFirstProject</a>
            <a>MyFirstProject</a>
            <a>MyFirstProject</a>
            <a>MyFirstProject</a>
            <a>MyFirstProject</a>
            <a>MyFirstProject</a>
            <a class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
    <div class="contentContainer">
    <h1>My Projects</h1>
    <div class="line"></div>
    <div class="projectContainer" >
        <div class="projectPlus"><h2>+</h2></div>
        <div class="project"><h2>Book planner</h2><p>This little project is made to plan books delivery in libraries. Using JavaFX, Scene builder and RMI.</p><a><i class="fa fa-gear" onmouseenter="mySettingsStart(this)" onmouseleave="mySettingsStop(this)"></i></a></div>
        <div class="project"><h2>Airflight Reservation System</h2><p>This programs purpose is to help passengers book flights and flight planners to manage flights</p><a><i class="fa fa-gear" onmouseenter="mySettingsStart(this)" onmouseleave="mySettingsStop(this)"></i></a></div>
        <div class="project"><h2>Airflight Reservation System</h2><p>This programs purpose is to help passengers book flights and flight planners to manage flights</p><a><i class="fa fa-gear" onmouseenter="mySettingsStart(this)" onmouseleave="mySettingsStop(this)"></i></a></div>
        <div class="project"><h2>Airflight Reservation System</h2><p>This programs purpose is to help passengers book flights and flight planners to manage flights</p><a><i class="fa fa-gear" onmouseenter="mySettingsStart(this)" onmouseleave="mySettingsStop(this)"></i></a></div>
        <div class="project"><h2>Airflight Reservation System</h2><p>This programs purpose is to help passengers book flights and flight planners to manage flights</p><a><i class="fa fa-gear" onmouseenter="mySettingsStart(this)" onmouseleave="mySettingsStop(this)"></i></a></div>
        <div class="project"><h2>Airflight Reservation System</h2><p>This programs purpose is to help passengers book flights and flight planners to manage flights</p><a><i class="fa fa-gear" onmouseenter="mySettingsStart(this)" onmouseleave="mySettingsStop(this)"></i></a></div>
        <div class="project"><h2>Airflight Reservation System</h2><p>This programs purpose is to help passengers book flights and flight planners to manage flights</p><a><i class="fa fa-gear" onmouseenter="mySettingsStart(this)" onmouseleave="mySettingsStop(this)"></i></a></div>
        <div class="project"><h2>Airflight Reservation System</h2><p>This programs purpose is to help passengers book flights and flight planners to manage flights</p><a><i class="fa fa-gear" onmouseenter="mySettingsStart(this)" onmouseleave="mySettingsStop(this)"></i></a></div>
        <div class="project"><h2>Airflight Reservation System</h2><p>This programs purpose is to help passengers book flights and flight planners to manage flights</p><a><i class="fa fa-gear" onmouseenter="mySettingsStart(this)" onmouseleave="mySettingsStop(this)"></i></a></div>
        <div class="project"><h2>Airflight Reservation System</h2><p>This programs purpose is to help passengers book flights and flight planners to manage flights</p><a><i class="fa fa-gear" onmouseenter="mySettingsStart(this)" onmouseleave="mySettingsStop(this)"></i></a></div>
        <div class="project"><h2>Airflight Reservation System</h2><p>This programs purpose is to help passengers book flights and flight planners to manage flights</p><a><i class="fa fa-gear" onmouseenter="mySettingsStart(this)" onmouseleave="mySettingsStop(this)"></i></a></div>
        <div class="project"><h2>Airflight Reservation System</h2><p>This programs purpose is to help passengers book flights and flight planners to manage flights</p><a><i class="fa fa-gear" onmouseenter="mySettingsStart(this)" onmouseleave="mySettingsStop(this)"></i></a></div>
        <div class="project"><h2>Airflight Reservation System</h2><p>This programs purpose is to help passengers book flights and flight planners to manage flights</p><a><i class="fa fa-gear" onmouseenter="mySettingsStart(this)" onmouseleave="mySettingsStop(this)"></i></a></div>
        <div class="project"><h2>Airflight Reservation System</h2><p>This programs purpose is to help passengers book flights and flight planners to manage flights</p><a><i class="fa fa-gear" onmouseenter="mySettingsStart(this)" onmouseleave="mySettingsStop(this)"></i></a></div>
        <div class="project"><h2>Airflight Reservation System</h2><p>This programs purpose is to help passengers book flights and flight planners to manage flights</p><a><i class="fa fa-gear" onmouseenter="mySettingsStart(this)" onmouseleave="mySettingsStop(this)"></i></a></div>
        <div class="project"><h2>Airflight Reservation System</h2><p>This programs purpose is to help passengers book flights and flight planners to manage flights</p><a><i class="fa fa-gear" onmouseenter="mySettingsStart(this)" onmouseleave="mySettingsStop(this)"></i></a></div>
        <div class="project"><h2>Airflight Reservation System</h2><p>This programs purpose is to help passengers book flights and flight planners to manage flights</p><a><i class="fa fa-gear" onmouseenter="mySettingsStart(this)" onmouseleave="mySettingsStop(this)"></i></a></div>
        
    </div>
    </div>
</div>



@code {

}
